body {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.hedingSection {
    position: absolute;
    width: 50%;
    height: 90px;
    padding: 10px;
    border: 5px blue solid;
    border-radius: 10px;
    top: 20px;
}

.scoreSection {
    height: 90px;
    background-color: white;
    width: 15%;
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hedingSection img {
    float: left;
}
.selectPage{
    width: 100%;
    height: 100vh;
    background-color: brown;
    display: flex;
}
.selectPage .selectPageSectionOne{
    width: 40%;
    height: 100%;
    background-color: aqua;
}
.selectPage .selectPageSectionTwo{
    width: 20%;
    height: 100%;
    background-color: antiquewhite;
}
.selectPage .selectPageSectionThree{
    width: 40%;
    height: 100%;
    background-color: blueviolet;
}